.pop {
    position: absolute;
    right: 1.6vw;
    width: 20vw;
    height: 60vh;
    background-color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid rgb(172, 172, 172);
    z-index: 200;
    box-shadow: -2px 2px 6px  rgb(65, 65, 65);
    
}

.cartheader {
    position: relative;
    font-size: 2.5vh;
    padding-left: 1VW;
    width: 100%;
    font-family: eras light itc;


}
.productbox {
width: 100%;
height: 50%;


}
.totalbox {
    width: auto;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    background-color: rgb(245, 245, 245);
    box-shadow:  0px -1px rgb(219, 219, 219);  
    padding-left: 1vw;
    padding-right: 1vw;
}
.total {
    font-family: Dubai light;
    font-size: 2.5vh;
}
.totnumber {
    font-family: Dubai;
    font-size: 2.5vh;
    letter-spacing: 0.1vh;
    
}
.cartfooter {
    height: 15.4vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow:  0px -1px rgb(219, 219, 219)
}
.checkout {
    height: 5vh;
    background-color: #fabc02;
    color: black;
    border-radius: 10.66vh;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: eras itc;


}
.viewcart {

    height: 5vh;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10.66vh;
    color: #be8f00;
    border: 2px solid #fabc02;
    cursor: pointer;
    font-family: eras itc;



}
