.hero-slide {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textonslider{
    z-index: 300;
    background-color: blue;
    position: absolute;
    height: 33%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-slider .content {

    position: relative;
    z-index: 2;
}
.image {
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    top: 117px;
    position: relative;
}
.swiper-button-next{
    color: #c59400;
    
}
.swiper-button-prev{
    color: #c59400;
}