.secondcontainer {
    height: 700px;
    width: 100vw;
    background-image: url('../Background/2.jpg');
    background-repeat: no-repeat;
    margin-top: 20px;
    position: relative;
    top: 117px;
    
    
}
.wrap__text1 {
    
        color: white;
        position: absolute;
        top: 15%;
        width: 100%;
        height: 60%;
        display: grid;
        grid-template-columns: 900px 500px auto;
        grid-template-r: 900px 500px auto;
}

.button2 {
    background-color:#fabc02;
    border: none;
    font-family: eras itc;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 10px;
    color: black;
    border: 1px solid black;
    height: auto;
    width: auto;
    padding: 17px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    grid-row: 4/5;
    grid-column: 2/3;

  }

  .button2:hover {
    background-color: #ffd557;
    color: black;
    transition: 0.2s
  }
