.secondcontainer {
    height: 39rem;
    width: 100%;
    background-image: url('../Background/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    position: relative;
    transition: none;
    display: grid;
    grid-template-columns: 50rem 55rem auto;
    grid-template-rows: 3rem 11rem 10rem ;
    
    
}

  .button2:hover {
    background-color: #ffd65c;
    opacity: 0.80;
    transition: 0.2s
  }
  .h1_2 {
    font-family: ErasBold;
    font-size: 4rem;
    grid-row: 2/3;
    grid-column: 2/3;
    color: white; 

  }
  .h2_2 {
    font-family: ErasBold;
    font-size: 1.6rem;
    grid-row: 3/4;
    grid-column: 2/3;
    color: white;
    width: 40vw;

    text-size-adjust: none; 

  }
  
.button2 {
  background-color:#fabc02;
  border: none;
  font-family: ErasMed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: black;
  width: 9rem;
  height: 2.3rem;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0rem 0rem;
  cursor: pointer;
  border-radius: 30rem; 
  white-space: nowrap;  
  grid-row: 4/5;
  grid-column: 2/3;

  }


