.wrap__text {
    display: flex;
    height: 88vh;
    background-color: transparent;
}
.text_1 {
    position: absolute;
    font-family: Typographica;
    font-size:80px;
    top: 180px;
    left: 190px;
    color: rgb(41, 41, 41);
    /* text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255); */
   
}
.text_2 {
    position: absolute;
    font-family: Typographica;
    font-size:80px;
    top: 180px;
    left: 430px;
    color: rgb(41, 41, 41);
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */

}
.text_3 {
    position: absolute;
    font-family: Typographica;
    font-size:80px;
    top: 255px;
    left: 210px;
    color:  rgb(41, 41, 41);
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */

}
.text_4 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:20px;
    top: 422px;
    left: 200px;
    color: rgb(41, 41, 41);
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}
.button {
    background-color: white;
    border: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    

} 