
.toolbar {
    display: flex;
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
    

    
}
.logo_container {
    background-image: url('../Background/1.png');
    background-position:  center center; 
    background-size: 90%;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 200px;
    
}

.nav__items {
     display: flex; 
     justify-content: space-between;  
    align-items: center; 
    width: 25%;
    height: 80px;
    color: black;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-color: green;
    
}
.nav__items li{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: auto;
    height: 80px;
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    border-color: black;
}
