
.toolbar {
    display: flex;
    color:black;
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;
    

    
}
.logo_container {
    background-image: url('../Background/1.png');
    background-position:  center center; 
    background-size: 95%;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    margin-right: 25px;
    width: 220px;
    
}

.nav__items {
     display: flex; 
     justify-content: space-between;  
    align-items: center; 
    width: 25%;
    height: 80px;
    color: white;
    margin: 0;
    padding: 0;
    
    
}
.nav__items li{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: auto;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    border-color: black;
    cursor: pointer;
}
li:hover {
/* background-color:black; */
color: rgb(172, 172, 172);  
transition: 0.2s  
}