
.toolbar {
    display: flex;
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
    

    
}
.logo_container {
    background-image: url('../Background/1.png');
    background-position:  center center; 
    background-size: 95%;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    margin-right: 25px;
    width: 220px;
    
}

.nav__items {
     display: flex; 
     justify-content: space-between;  
    align-items: center; 
    width: 25%;
    height: 80px;
    color: black;
    margin: 0;
    padding: 0;
    border-color: green;
    
}
.nav__items li{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: auto;
    height: 80px;
<<<<<<< HEAD
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
=======
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
>>>>>>> 4fefe44a0c8ea2739df7cec677e9b186df1ab5f8
    border-color: black;
    cursor: pointer;

}
<<<<<<< HEAD
=======
.searchbar {
    display: flex;
    align-items: center;
    height: 880px;
    top: 20px;
    width: 200px;
    margin-left: 20px;
}
.Search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
>>>>>>> 4fefe44a0c8ea2739df7cec677e9b186df1ab5f8
