.swiperboks {
    height: 40rem;
}

.swiper-wrapper{
    position: relative;
    display: flex;
    top: 1.5rem;
    left: 1rem;
    height: 100%;

}
.swiper-container {

height: 40rem;
width: 289.4rem;
top: 1rem;
display: inline-block;
}

.Swiper1{
    background-image: url('../Background/image1.png'); 
}
.Swiper2{
    background-image: url('../Background/image2.png');   
}
.Swiper3{
    background-image: url('../Background/image3.png');
}
.Swiper4{
    background-image: url('../Background/image4.png');
}
.Swiper5{
    background-image: url('../Background/image5.png');
}
.Swiper6{
    background-image: url('../Background/image6.png');
}
.Swiper7{
    background-image: url('../Background/image7.png');
}
.Swiper8{
    background-image: url('../Background/image8.png');
}
.swipers{
    height: 32.5rem;
    width: auto;
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat; 
}
.swipers:hover {
 
    cursor: pointer;
    opacity: 0.85;
} 
.swiper-title {

    font-family: candara;
    font-size: 1.3rem;
    position: relative;
    left: 1rem;
}
.swiper-type{
    color: rgb(134, 134, 134);
    position: relative;
    top: -1.2rem;
    left: 1rem;
    font-family: candara;
    font-weight: 500;
    font-size: 1.15rem;
}
.swiper-price {
    position: relative;
    top: -5.75rem;
    left: 85%;
    font-family: dubai;
    font-size: 1.2rem;
    font-weight: 400;
}
.swiper-scrollbar{
    opacity: 0;
    transition: 0.3s
}
.swiperboks:hover .swiper-scrollbar{
   opacity: 1;
   transition: 0.3s

}
/* @media (max-width: 400px) {
.swipers {
    height: 22.37vh;
    width: 100px;
    margin-right: 30px;
    }


} */
