.swiperboks {
    height: 84vh;
}

.swiper-wrapper{
    position: relative;
    left: 2.132vh;

}
.swiper-container {

height: 80vh;
width: 100%;
top: 3vh;
display: block;
}

.Swiper1{
    background-image: url('../Background/image1.png'); 
}
.Swiper2{
    background-image: url('../Background/image2.png');   
}
.Swiper3{
    background-image: url('../Background/image3.png');
}
.Swiper4{
    background-image: url('../Background/image4.png');
}
.Swiper5{
    background-image: url('../Background/image5.png');
}
.Swiper6{
    background-image: url('../Background/image6.png');
}
.Swiper7{
    background-image: url('../Background/image7.png');
}
.Swiper8{
    background-image: url('../Background/image8.png');
}
.swipers{
    height: 67.37vh;
    width: auto;
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat; 
}
.swipers:hover {
 
    cursor: pointer;
    opacity: 77%;
} 
.swiper-title {

    font-family: candara;
    font-size: 2.2vh;
    position: relative;
    left: 1.7vh;
}
.swiper-type{
    color: rgb(134, 134, 134);
    position: relative;
    top: -2vh;
    left: 1.7vh;

    font-family: candara;
    font-weight: 500;
    font-size: 2.2vh;
}
.swiper-price {
    position: relative;
    top: -10.15vh;
    left: 85%;
    font-family: dubai;
    font-size: 2.1vh;
    font-weight: 400;
}
.swiper-scrollbar{
    opacity: 0;
    transition: 0.3s
}
.swiperboks:hover .swiper-scrollbar{
   opacity: 1;
   transition: 0.3s

}
