.swiper-wrapper{
    position: relative;
    left: 20px;

}
.swiper-container {

height: 75vh;
width: 100%;

}
.swiper-scrollbar{
display: none;
}

.Swiper1{
    background-image: url('../Background/image1.png'); 
}
.Swiper2{
    background-image: url('../Background/image2.png');   
}
.Swiper3{
    background-image: url('../Background/image3.png');
}
.Swiper4{
    background-image: url('../Background/image4.png');
}
.Swiper5{
    background-image: url('../Background/image5.png');
}
.Swiper6{
    background-image: url('../Background/image6.png');
}
.Swiper7{
    background-image: url('../Background/image7.png');
}
.Swiper8{
    background-image: url('../Background/image8.png');
}
.james{
    height: 66.37vh;
    width: auto;
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat; 
}
.james:hover {
 
    cursor: pointer;
    opacity: 75%;
}
#swiper-container #swiper-container-initialized #swiper-container-horizontal:hover > #swiper-scrollbar { display: inline; }

