.wrap {
    height: 700px;
    width: 100vw;
    background-image: url('../Background/2.jpg');
    background-repeat: no-repeat;
    margin-top: 30px;
    
}
.wrap__text1 {
        color: white;
        position: absolute;
        top: 10px;
}
 .button {
    background-color: white;
    border: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    

} 