.both {
  position: fixed;
  min-width: 100%;
  z-index: 1000;
}
.text {   
        display: flex;  
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        width: 100%;
        height: 35px;
        border-bottom: 1px solid rgb(99, 99, 99);
}
      
.toolbar {
  display: flex;
  color:black;
  background-color: rgb(29, 29, 29);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(68, 68, 68);
  

  
}
.logo_container {
  background-image: url('../Background/1.png');
  background-position:  center center; 
  background-size: 95%;
  background-repeat: no-repeat;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  margin-right: 25px;
  width: 220px;
  
}

.nav__items {
   display: flex; 
   justify-content: space-between;  
  align-items: center; 
  width: 25%;
  height: 80px;
  color: white;
  margin: 0;
  padding: 0;
  font-family: eras itc;

  
  
}
.nav__items li{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: auto;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  border-color: black;
  cursor: pointer;
  
}
.searchbowrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  position: relative;
  left: 20vw;

}
.searchbox {
  height: 4vh;
  width: 400px;

}
.searchicon{


}
.dropdown {
  width: 100%;
  height: 350px;
  background-color:rgb(70, 70, 70);
  display: grid;
  display: none;
}
.dropdown {
  width: 100%;
  height: 350px;
  background-color:rgb(70, 70, 70);
  /* display: grid; */
  display: none;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: #fabc02;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  
}

 .cartbox {
   color: white;
   position: relative;
   width: 6vw;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;
   cursor: pointer;
   left: 33vw;
}

 .cartboxtext {
   position: relative;
   font-size: 20px;
   font-family: eras itc;
   font-weight: bold;
  

 }
 .cartlogo {
 height: 5vh;
 width: auto;
 position: relative;

/* background-color: green; */

 }
 .img {
   width: 2.5vw;
   height: auto;
    position: relative;
    top: -3vh;
 }
 .imgnum {
   position: relative;
   top: 2.1vh;
   left: 1.1vw;
   top: -0.7vh;
   color: #fabc02 ;
 }
 .searchboxwrapper {
   width: 35vh;
   left: 2vw;
   position: relative;
   left: 41vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .react-search-field {
  border-radius: 100vh;
 }
 .react-search-field-input{
   display: flex;
   width: 33vh;
   height: auto !important;
   border-top-left-radius: 11vh;
   border-bottom-left-radius: 11vh;
   background-color: white;
   border-width: 0 !important;
   position: relative;
   
 }
 .react-search-field-button{
   border-radius: 100vh;
   width: 5vh !important;
   border-top-left-radius: 11vh;
   border-bottom-left-radius: 11vh;
   height: auto !important;
   background-color: white !important;
   border-width: 0 !important;
 }
