.both {
  position: fixed;
  min-width: 100%;
  z-index: 1000;
}
.text {   
        display: flex;  
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        width: 100%;
        height: 35px;
        border-bottom: 1px solid rgb(99, 99, 99);
}
      
.toolbar {
  display: flex;
  color:black;
  background-color: rgb(29, 29, 29);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(68, 68, 68);
  

  
}
.logo_container {
  background-image: url('../Background/1.png');
  background-position:  center center; 
  background-size: 95%;
  background-repeat: no-repeat;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  margin-right: 25px;
  width: 220px;
  
}

.nav__items {
   display: flex; 
   justify-content: space-between;  
  align-items: center; 
  width: 25%;
  height: 80px;
  color: white;
  margin: 0;
  padding: 0;
  
  
}
.nav__items li{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: auto;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  border-color: black;
  cursor: pointer;
}
.dropdown {
  width: 100%;
  height: 350px;
  background-color:rgb(70, 70, 70);
  display: grid;
  display: none;
}
.dropdown {
  width: 100%;
  height: 350px;
  background-color:rgb(70, 70, 70);
  /* display: grid; */
  display: none;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: #fabc02;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  
}

 .row {

 }
