.both {
  position: fixed;
  min-width: 100%;
  z-index: 1000;
}
.texttop {   
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 4vh;
  border-bottom: 0.106vh solid rgb(99, 99, 99);
  font-size:1.76vh
}
.accessbar {
  /* background-color:rgb(228, 0, 0); */
  width:7vw;
  height: 4vh;
  display: flex;
   align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 1vw; 

}
.imglogin {
  
  height: 1.4vw;
  width: auto;
  cursor: pointer;
}
.cartbox {
  position: relative;
  height:100%;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.1vh;
  cursor: pointer;
}

.imgcart {
  width: 2.6vw;
  height: 2.8vh;
  position: absolute;
   top: 1vh;
   top: 0.6vh;
}
.imgnum {
  position: absolute;
  top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fabc02 ;
  font-family: eras itc;
  font-size: 1.8vh;
  /* background-color: pink; */
}

.searchboxwrapper {
  width: 15vw;
 position: absolute;
 right: 9.5vw;
 display: flex;
 justify-content: center;
 align-items: center; 
 
}
.react-search-field {
border-radius: 100vh;
background-color: white;
width: 100%;
height: 4.4vh !important;
}
.react-search-field-input{
 display: flex;
 width: 100%;
 height: auto !important;
 border-top-left-radius: 11vh;
 border-bottom-left-radius: 11vh;
 background-color: rgb(255, 255, 255);
 border-width: 0 !important;
 position: relative;

 
}
.react-search-field-button{
 border-radius: 100vh;
 width: 5vh !important;
 border-top-left-radius: 11vh;
 border-bottom-left-radius: 11vh;
 height: auto !important;
 background-color: white !important;
 border-width: 0 !important;
}

      
.toolbar {
  display: flex;
  align-items: center;
  color:black;
  background-color: rgb(29, 29, 29);
  margin: 0;
  padding: 0;
  border-bottom: 0.106vh solid rgb(68, 68, 68);
  height: 7vh;

  
}
.logo_container {
  
    height: 7vh;
    width: 23.45vh; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.logonav {
  background-image: url('../Background/1.png');
  background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 89%;
    width: 89%;
}

.nav__items {
   display: flex; 
   justify-content: space-between;  
  align-items: center; 
  width: 25%;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  font-family: eras itc;
margin-right: 1vw;

  
  
}
.nav__items li{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  list-style: none;
  /* width: auto; */
  height: 100%;
  padding-left: 3.19vh;
  padding-right: 3.19vh;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  
}


li:hover {
  text-decoration: underline;
  text-decoration-color: #fabc02;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  
}
.chatobot {
  background-image: url('../Background/logochat.png');
  background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
  position: fixed;
  height: 9vh;
  width: 9vh;
  right:2vh;
  top: 90vh;
  cursor: pointer;
}
.chatboxclosecircle {
  width: 1.7vh;
  height: 1.7vh;
  position: absolute;
  right: 2px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatboxX {
  background-image: url('../Background/X.png');
  background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
  width: 55%;
  height: 55%;
}

