.selector {
    width: 12vh;
}
.react-select__control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0) !important;
    width: 13vh;
    max-height: 4vh !important;
    min-height: 4vh !important;
    border: 1px solid transparent !important;
}
.react-select__single-value {
    color: white !important;
}

.react-select__control--is-focused {
box-shadow: none !important;
}
.react-select__menu {
    background-color: black !important;
   
}
.react-select-container {
    height: 100%;
    width: 15vh;
}
.react-select__indicators {
    height: 3.9vh;

}

