.container1image {     
      background-image: url('../Background/Trek.jpg');
      background-position: 0px 0px; 
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      top: 117px;
      position: relative;
    }
    .textdiv1 {
      position: absolute;
      /* border: 3px solid greenyellow;       */
      width: 100%;
      height: 50%;
      display: grid;
      grid-template-columns: 100px 600px auto ;
      grid-template-rows: 45px 130px 100px 100px;
    }
    .h1 {
        font-family: typographica ;
        color: rgb(41, 41, 41);
        /* -webkit-text-stroke: 1px rgb(156, 156, 156); */
        font-size: 65px;
        grid-column: 2/3;
        grid-row: 2/3;
        /* -webkit-text-stroke: 4px rgb(248, 4, 4); */ 
       
    }
    .h2 {
      font-family: eras  itc;
      color: rgb(41, 41, 41);
      /* -webkit-text-stroke: 1px rgb(148, 148, 148); */
      font-size: 22px;
      grid-column: 2/3;
      grid-row: 3/4;
      position: relative;
      left: 2px;
}   
    .button1 {
      background-color:#fabc02;
      border: none;
      font-family: eras itc;
      font-weight: bold;
      position: absolute;
      left: 0px;
      top: 10px;
      color: black;
      border: 1px solid black;
      height: auto;
      width: auto;
      padding: 17px 29px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 19px;
      margin: 4px 2px;
      cursor: pointer;
      grid-row: 4/5;
      grid-column: 2/3;

    }

    .button1:hover {
      background-color: #ffd557;
      color: black;
      transition: 0.2s
    }

    