.foot {
    height: 58.63vh;
    background-color:  rgb(61, 61, 61);
    margin-top:  2.13vh;
    position: relative;

}
.footop {
    height: 15.99vh;
    background-image: url('../Background/5.jpg');
    background-position: 0px 0px; 
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      border-bottom: 1px solid #745700;
      


}
.overlay {
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  cursor: pointer;
}
.square {
    color: white;
    position: relative;
    top: 1.6vh;
    left: 13vw;
    height: 11.5vh;
    width: 24vw;
    border: 0.74vh solid white;
    display: grid;
    grid-template-columns: 40% 60%; 
    
}
.logo {
    background-image: url('../Background/aa.png');
    height: 10.66vh;
    width: 5.20vw;
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    position: relative;
    left:  1.04vw;
    display: grid;

    
}
.ad {
    font-size: 9.59vh;
    height: 10.66vh;
    font-family: typographica;
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    display: grid;
    position: relative;
    top: 1vh;
    right: 1.56vw;
    justify-content:center;
    align-content: center;

}
.textoverlay {

   color: white;
   font-size: 6.39vh;
   font-family:eras itc ; 
   /* font-weight: bold; */
   position: relative;
   left: 48vw;
   top: -8vh;
}
.footer {
    background-color: rgb(27, 27, 27);
    height: 48.91vh;
    border-bottom: 1px solid #a77d0063;
    display: grid;
    grid-template-columns: 30% 20% 20% auto;
    


}
.footbottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10.73vh;
    width: 90vw;
    position: absolute;
    left: 4.2vw;
    border-top: 2px solid rgb(92, 92, 92);
    bottom: -47px;
    font-size: 1.70vh;
   
}
.footerfirst {

    background-color: #fff;
}
.footersecond {
    grid-column: 2/3;
    position: relative;
    height: 30vh;
    width: 7vw;
    top: 4vh;
        

}
.footerthird {
    grid-column: 3/4;
    position: relative;
    height: 30vh;
    top: 4vh;
    width: 9.6vw;
    /* background-color:purple; */
}
.footersub {
/* background-color:purple; */
    grid-column: 4/5;
}
.footercredit {
    color: rgb(150, 150, 150);
    position: absolute;
    right: 1vh;
    font-size: 1.70vh;
    font-family: Bell MT;
}
.footersocial {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17vw;
    height: 10vh;
}
.facebook {
    background-image: url('../Background/face.png');
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 6vh;
    height: 6vh;
}
.google {
    background-image: url('../Background/google.png');
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 6vh;
    height: 6vh;
}
.insta {
    background-image: url('../Background/insta.png');
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 6vh;
    height: 6vh;
}
.twitter {
    background-image: url('../Background/twitter.png');
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 6vh;
    height: 6vh;
}
ul {
    list-style-type: none;
}
h2 {
    color: #fabc02;
    font-size: 2.1vh;
    margin: 0 0 3vh 0;
    font-family:eras itc;
}
.ss li {
    color: white;
    margin: 0 0 10px 0;
    font-family:eras itc;
    cursor: pointer;
}
.ss li:hover {
    color: rgb(179, 179, 179);
}
 .about {
     width: 3.6vw;
     color: blue;
 }
 .more {
    width: 4.8vw;
    color: blue;
}
.blog {
    width: 1.8vw;
    color: blue;
}
.testamonials {
    width: 5vw;
    color: blue;
}
.events {
    width: 2.5vw;
    color: blue;
}
.services {
    width: 3vw;
    color: blue;
}
.support {
    width: 3vw;
    color: blue;
}
.terms {
    width: 7.3vw;
    color: blue;
}
.privacy {
    width: 5vw;
    color: blue;
}