.foot {
    height: 58.63vh;
    background-color:  rgb(61, 61, 61);
    margin-top:  2.13vh;
    position: relative;

}
.footop {
    height: 15.99vh;
    background-image: url('../Background/5.jpg');
    background-position: 0px 0px; 
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      border-bottom: 1px solid #745700;
      


}
.overlay {
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  cursor: pointer;
}
.square {
    color: white;
    position: relative;
    top: 1.6vh;
    left: 13vw;
    height: 11.5vh;
    width: 24vw;
    border: 0.74vh solid white;
    display: grid;
    grid-template-columns: 40% 60%; 
    
}
.logo {
    background-image: url('../Background/aa.png');
    height: 10.66vh;
    width: 5.20vw;
    background-position: 0px 0px; 
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    position: relative;
    left:  1.04vw;
    display: grid;

    
}
.ad {
    font-size: 9.59vh;
    height: 10.66vh;
    font-family: typographica;
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    display: grid;
    position: relative;
    top: 1vh;
    right: 1.56vw;
    justify-content:center;
    align-content: center;

}
.textoverlay {

   color: white;
   font-size: 6.39vh;
   font-family:eras itc ; 
   /* font-weight: bold; */
   position: relative;
   left: 48vw;
   top: -8vh;
}
.footer {
    background-color: rgb(41, 41, 41);
    height: 38.91vh;
    border-bottom: 1px solid #a77d0063;


}
.footbottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.73vh;
    font-size: 1.70vh;
    background-color: rgb(49, 49, 49);
    font-family: Bell MT;
    color: rgb(150, 150, 150);
}
