.container3grid {
    /* height:10rem;
    width: 98.3%; */
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 3rem;
    display: grid;
    grid-template-columns: 50% 25% 25%; 
    grid-template-rows: 20rem 20rem;
    grid-gap: 1rem;
    
}
.box1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url('../Background/3.jpg');
    position: relative;
    background-size: 100% 100%;
    background-position: -14rem 0rem; 
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: 50rem 4rem 3rem;
    }
    .box1text{
        font-family: ErasMed;
        color: white;
        font-size: 1.4rem;
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 1.5rem;
        position: relative;
        
        
    }
    .buttonbox1 {
      background-color:#fabc02;
      border: none;
      font-family: ErasMed;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: black;
      width: 9rem;
      height: 2.3rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
      cursor: pointer;
      grid-row: 3/4;
      grid-column: 2/3;
      border-radius: 10.66vh; 
      white-space: nowrap;  

      }
  
      .buttonbox1:hover {
        
        opacity: 0.82;
        transition: 0.2s
      }
.box2 {
    background-image: url('../Background/4.jpg');
    grid-row: 1/2;
    grid-column: 2/4;
    background-size: 74rem 130%;
    background-position: -14rem 0rem; 
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: 19.5rem 4rem 3rem;
}
.box2text{
    font-family: ErasMed;
    color: rgb(41, 41, 41);
    font-size: 1.5rem;
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;     
}
.buttonbox2 {
  background-color:#fabc02;
  border: none;
  font-family: ErasMed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 9rem;
  height: 2.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 10.66vh;  
  border: 1px solid rgb(148, 148, 148, 0.5);
  white-space: nowrap;  

 

  }

  .buttonbox2:hover {
    
    opacity: 0.82;
    transition: 0.2s
  }
.box3 {
    background-image: url('../Background/22.jpg');
    grid-row: 2/3; 
    /* width: 23.4rem;
    height: 20.4rem;  */
     grid-column: 2/3; 
    background-color: rgb(214, 228, 20);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 10px 10px;

    display: grid;
    grid-template-columns: 2rem 13rem;
    grid-template-rows: 20rem 4rem 3rem;
   
}
.buttonbox3 {
  background-color:#fabc02;
  border: none;
  font-family: ErasMed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 12rem;
  height: 2.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0rem 0rem;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 33rem;  
  border: 1px solid rgb(148, 148, 148, 0.5);
  white-space: nowrap;  
  }
  .buttonbox3:hover {
    
    opacity: 0.82;
    transition: 0.2s
  }
       
.box4 {
    background-image: url('../Background/6.jpg');
    /* width: 29.5rem;
    height: 29.5rem; */
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: rgb(18, 145, 145);
    background-size: 29.5rem 29.5rem;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 2rem 13rem;
    grid-template-rows: 20rem 4rem 3rem;
    
}
.buttonbox4 {
  background-color:#fabc02;
  border: none;
  font-family: ErasMed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 12rem;
  height: 2.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0rem 0rem;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 10.66vh;  
  border: 1px solid rgb(148, 148, 148, 0.5);
  white-space: nowrap;  
 

  }
  .buttonbox4:hover {
    background-color: #ffd760;
    opacity: 0.82;
    transition: 0.2s
  }

