.App{

}
.container{
  background-image: url(./Background/Trek.jpg);
  background-position: 0px 0px; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
  
}
.toolbar{
  position: absolute;
  top: 0;
}
.vipline {
  position: absolute;
  top: 100px;
}

