
.container{
  background-image: url('./Components/Background/Trek.jpg');
  background-position: 0px 0px; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}
.navbar {
  position: sticky;
  top: 0px;
}
.vip__line {
  position: sticky;
  top: 80px;
}