
.container{
  background-image: url(./Background/Trek.jpg);
  background-position: 0px 0px; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



