.dropdown{
    position: absolute;
    display: flex;
    align-items: center;
    height:34vw;
    width: 46vw;
    left: 14.3vw;
    background-color: #fff;
  }
  .links {
    background-color: white;
    width: 50%;
    height:100%;
  }
  .imgdrop{
    width: 50%;
    height: 100%;
    background-size: 185vw;

  }